{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="p-4">
          <img src="{% static 'images/file.png' %}" class="img-fluid mx-auto" alt="Background Image" />
        </div>
      </div>
      <div class="col-md-6 m-auto">
        <hr />
        <!-- Logout Message Section -->
        <h2 class="text-success">You have been successfully logged out</h2>
        <p class="lead">Thank you for visiting. We hope to see you again soon!</p>

        <!-- Redirect or Login Link -->
        <div class="mt-4">
          <a href="{% url 'login' %}" class="btn w-100 text-white" style="background-color: #F79420; border-color: #b88a4b;">Login Again</a>
        </div>
        <hr />
      </div>
    </div>
  </div>
{% endblock %}
