{% extends 'accounts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="container-fluid">
    <!-- Title Section -->
    <div class="text-center">
      <h2 class="display-4 mb-4 fw-bold" style="color: #127D61; font-family: 'Roboto', sans-serif;">OUR PRODUCTS</h2>
    </div>

    <!-- Filters and Sorting -->
    <form method="get" action="{% url 'products:shop_homepage' %}" class="py-4 px-3 bg-white rounded shadow-lg">
      <div class="row g-4 align-items-center">
        <!-- Category Filter -->
        <div class="col-12 col-sm-6 col-md-5">
          <div class="border p-2 rounded">{{ form.category }}</div>
        </div>
        <!-- Search Filter -->
        <div class="col-12 col-sm-6 col-md-5">
          <div class="border p-2 rounded">{{ form.search }}</div>
        </div>
        <!-- Search Button -->
        <div class="col-12 col-md-2">
          <button type="submit" class="btn btn-warning fw-bold py-2 px-4 rounded shadow-sm d-flex align-items-center w-100"><i class="mdi mdi-magnify me-2" style="font-size: 1.2rem;"></i> Search</button>
        </div>
      </div>
    </form>

    <!-- Featured Products -->
    <div id="featured-products" class="row mt-4" id="search_list">
      {% if products_with_images %}
        {% for product_info in products_with_images %}
          {% with product=product_info.product images=product_info.images min_price=product_info.min_price max_price=product_info.max_price %}
            <div class="col-6 col-sm-4 col-md-3 mb-4 product-item">
              <div class="card h-100 shadow-sm position-relative">
                <!-- Carousel -->
                <div id="carousel-{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    {% if images %}
                      {% for image in images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                          <img src="{{ image.image.url }}" class="d-block w-100 rounded img-fluid disable-right-click" style="max-height: 200px; object-fit: contain;" alt="{{ product.name }}" />
                        </div>
                      {% endfor %}
                    {% else %}
                      <div class="carousel-item active">
                        <img src="{% static 'images/no-image.png' %}" class="d-block w-100 rounded img-fluid disable-right-click" style="max-height: 200px; object-fit: contain;" alt="No image available" />
                      </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Hover View Product Details -->
                <div class="hover-overlay">
                  {% comment %} <a class="badge bg-danger position-absolute top-0 end-0 translate-middle-y py-2 px-4" href="{% url 'orders:product_details_view' product.id %}">View Details</a> {% endcomment %}
                  <a class="btn btn-primary btn-sm" href="{% url 'orders:product_detail' product.id %}">Shop Now</a>
                </div>

                <!-- Product Info -->
                <div class="card-body text-center">
                  <h5 class="card-title text-uppercase text-primary">{{ product.name }}</h5>
                  <p class="card-text">{{ product.category.name }}</p>
                  <p class="card-text">
                    <strong>Price:</strong>
                    {% if product_info.price %}
                      {% if product_info.product.discount_value %}
                        UGX <strong class="text-danger">{{ product_info.product.get_discounted_price|floatformat:'2'|intcomma }}</strong>
                        <span class="text-muted" style="text-decoration: line-through;">{{ product_info.price|floatformat:'2'|intcomma }}</span>
                        <span class="badge bg-success ms-1">{{ product_info.product.discount_value|floatformat:'0' }}% OFF</span>
                      {% else %}
                        UGX <strong>{{ product_info.price|floatformat:'2'|intcomma }}</strong>
                      {% endif %}
                    {% else %}
                      Price not available
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      {% else %}
        <p class="col-12 text-center">No products available.</p>
      {% endif %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination d-flex justify-content-center my-4">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1&search={{ search_query }}">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">Previous</a>
          </li>
        {% endif %}

        <!-- Page Number Display -->
        <li class="page-item disabled">
          <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query }}">Last &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
