{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <a href="{% url 'products:product_volume_list' product.id %}">
          <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Back to Volumes
          </button>
        </a>
        <div class="d-flex">
          <a href="{% url 'products:volume_add' %}" class="btn btn-success ml-3 font-weight-bold"><i class="mdi mdi-plus mr-2"></i> Add Volume(ML)</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h2>Update volume & prices for ... <span class="text-primary">{{ product.name }}</span></h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <!--  -->
              {{ form|crispy }}
              <div class="form-group mt-4 mb-0">
                <button type="submit" class="col-md-12 btn btn-dark" onclick="return confirm('Are you sure you want to proceed?') && validateForm()">Update Volume</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
