{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <a href="{% url 'products:volume_add' %}" class="btn btn-dark ml-2">
          <i class="mdi mdi-plus mr-2"></i>
          Add Volume (ML)
        </a>
        <div class="d-flex">
          <button title="Print" type="button" class="btn btn-success ml-2" onclick="printDiv('printMe')"><i class="mdi mdi-printer btn-icon-prepend"></i></button>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <form method="get" action="{% url 'products:volume_list' %}">
          <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search by volume" />
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i> Search</button>
          </div>
        </form>
      </div>
    </div>

    <!-- DataTable -->
    <div id="printMe" class="card shadow mb-4">
      <div class="card-header py-3">
        <h3>{{ table_title|upper }}</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="my-table" id="dataTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Image</th>
                <th class="text-center">Volume(ML)</th>
                <th class="text-right">Cost Price</th>
                <th class="text-right">Selling Price</th>
                <th class="print-hide" colspan="2" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for volume in volumes %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    {% if volume.image %}
                      <img src="{{ volume.image.url }}" alt="{{ volume.product.name }}" class="rounded-circle account-img" height="50" width="50" />
                    {% else %}
                      <span>No Image</span>
                    {% endif %}
                  </td>
                  <td class="text-center">{{ volume.ml }}</td>
                  <td class="text-right">{{ volume.cost|floatformat:'2'|intcomma }}</td>
                  <td class="text-right">{{ volume.price|floatformat:'2'|intcomma }}</td>
                  <td class="text-center print-hide">
                    <!-- Update button -->
                    <a href="{% url 'products:volume_update' volume.id %}" class="text-decoration-none" onclick="return confirm('Are you sure you want to update this record?');"><button type="button" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" title="Update Volume"><i class="bi bi-pencil"></i></button></a>
                  </td>
                  {% if user.profile.role == 'administrator' or user.profile.role == 'manager' %}
                    <td class="text-center print-hide">
                      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ volume.id }}" title="Delete product"><i class="bi bi-trash"></i></button>

                      <div class="modal fade" id="deleteModal{{ volume.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ volume.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel{{ volume.id }}">Delete Volume</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                            </div>
                            <div class="modal-body">
                              <p>
                                Are you sure you want to delete <strong>{{ volume.ml }}ML?</strong>
                              </p>
                              <p>This process cannot be reversed.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                              <a href="{% url 'products:delete_volume' volume.id %}" class="text-decoration-none"><button type="button" class="btn btn-danger">Delete</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th colspan="2">Total</th>
                <th class="text-center">{{ total_ml }} ML</th>
                <th class="text-right">{{ total_cost|floatformat:'2'|intcomma }}</th>
                <th class="text-right">{{ total_price|floatformat:'2'|intcomma }}</th>
                <th colspan="2" class="print-hide"></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- Pagination controls -->
        <div class="d-flex justify-content-between align-items-center mt-4">
          <nav>
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
