<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{% url 'users-home' %}">
      <i class="fas fa-chart-line me-2"></i>
      <span style="color: #127D61;">Stock</span><span style="color: #F79420;">Track</span>
    </a>

    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family: 'Times New Roman', serif;">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>

      <ul class="navbar-nav d-flex">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <!-- Logout with POST method -->
          <li class="nav-item">
            <form method="POST" action="{% url 'user-logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user-login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user-register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
