{% extends 'accounts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="container-fluid py-5">
    <div class="row">
      <!-- Product Heading and Shop Now Button -->
      <div class="d-flex justify-content-between align-items-center">
        <h1>
          <span style="color: gold;">{{ name }}</span>
          <strong style="color: black;">|</strong>
          <span style="color: blue;">{{ category }}</span>
          <strong style="color: black;">|</strong>
        </h1>

        <a href="{% url 'products:shop_homepage' %}" class="btn btn-warning text-uppercase fw-bold">Shop Now</a>
      </div>
      <hr />
      <!-- Product Description Section inside Bootstrap Card -->
      <div class="card mt-2">
        <div class="card-body">
          <h3 class="text-primary">Description</h3>
          <p class="lead">{{ description }}</p>
        </div>
      </div>
      <hr />
    </div>
  </div>
{% endblock %}
